body{
  background-color: #333;
}

.c100{
  background-color: transparent;
}

.c100 > span{
  color : #666;
}

.heading{
  color: #eee;
  font-size: 3.5em;
  text-align: center;
  margin: 20px;
  font-family: 'Sansita', sans-serif;
}
