body {
    background-color: #333;
}


/*Modifying CSS from circle.css*/

.c100 {
    background-color: transparent;
}

.c100>span {
    color: #666;
}


/*Custom style*/

h1, h2 {
    color: #eee;
    font-family: 'Sansita', sans-serif;
    text-align: center;
}

.heading {
    color: #eee;
    font-size: 3.5em;
    text-align: center;
    margin: 20px;
    font-family: 'Sansita', sans-serif;
}

.time-controls {
    margin: 20px auto;
    color: #eee;
    text-align: center;
    font-size: 1.5em;
}

.clock-control {
    height: 320px;
    text-align: center;
    z-index: 9999;
    color: #4db53c;
    position: absolute;
    font-size: 0.1em;
    top: 50px;
    left: 145px;
}

.add, .time, .reduce, .session-time, .break-time {
    display: inline-block;
}

.session-time, .break-time {
    margin: 20px;
}

.time-text {
    font-size: 0.8em;
    color: #999;
    margin: 10px;
}

.add button, .reduce button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight: bold;
    cursor: default;
    border-color: transparent;
    color: white;
    font-size: 0.8em;
    margin: 5px;
    background-color: #666;
    background-color: rgba(102, 102, 102, 0.3);
}

.sessionDiv, .breakDiv {
    display: none;
}

.showClock {
    display: block;
}
